@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />

    <style>
        .jumbotron {
            width: 600px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            padding: 10px;
        }

        .table {
            margin-top: 20px;
        }

            .table td {
                text-align: center;
            }

            .table th {
                text-align: center;
            }

        .form-control {
            margin-bottom: 5px;
        }

        .selecionado {
            background-color: yellow;
        }

        .negrito {
            font-weight: bold;
        }
    </style>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-messages.js"></script>
    <script src="~/lib/angular/angular-locale_pt-br.js"></script>

    <script>
        angular.module("listaTelefonica", ["ngMessages"]);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope, $filter, $http) {
            $scope.app = "Lista Telefonica";

            $scope.contatos = [];
            $scope.operadoras = [];

            var carregarContatos = function () {

                $http.get("/api/v1/public/contatos")
                  .then(function (response) {
                      $scope.contatos = response.data;
                  }, function () {
                      $scope.message = "Aconteceu um problema: " + response;
                  });
            };

            var carregaOperadoras = function () {
                $http.get("/api/v1/public/operadoras")
                    .then(function (response) {
                        $scope.operadoras = response.data;
                    },function () {
                        $scope.message = "Aconteceu um problema: " + response;
                    });
            };

            carregarContatos();
            carregaOperadoras();


            $scope.adicionarContato = function (contato) {

                contato.data = new Date();
                contato.OperadoraId = contato.Operadora.Id;
                contato.Operadora = null;

                $http.post("/api/v1/public/postContato", contato)
                    .then(function (response) {

                        carregarContatos();
                        carregaOperadoras();

                        $scope.contato = {};
                        $scope.contatoForm.$setPristine();

                    }, function () {
                        $scope.message = "Aconteceu um problema: " + response;
                    })
            };

            $scope.apagarContatos = function (contatos) {

                var contatos = contatos.filter(function (contato) {
                    if (contato.selecionado) return contato;
                });

                $http.post("/api/v1/public/deleteContato/", contatos)
                    .then(function (response) {
                        carregarContatos();
                    }, function (response) {
                        $scope.message = "Aconteceu um problema: " + response.data;
                    });         
            };

            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });
            };

            $scope.ordernarPor = function (campo) {
                $scope.criterioDeOrdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            };
        });
    </script>

</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3>{{ app }}</h3>
        {{message}}
        <input type="text" ng-model="criterioDeBusca" placeholder="O que você esta buscando" class="form-control" />

        <table ng-show="contatos.length > 0" class="table table-bordered">
            <tr>
                <th></th>
                <th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
                <th>Operadora</th>
                <th>Data</th>
                <!--<th></th>-->
            </tr>
            <tr ng-class="{ 'selecionado negrito': contato.selecionado }" ng-repeat="contato in contatos | filter: busca | orderBy: criterioDeOrdenacao:direcaoDaOrdenacao ">
                <td><input type="checkbox" ng-model="contato.selecionado" /></td>
                <td>{{ contato.Nome }}</td>
                <td>{{ contato.Telefone }}</td>
                <td>{{ contato.Operadora.Nome | lowercase }}</td>
                <td>{{ contato.Data | date: 'dd/MM/yyyy HH:mm' }}</td>
                <!--<td><div style="width:20px; height:20px;" ng-style="{'background-color': contato.cor}"></div></td>-->
            </tr>
        </table>

        <hr />

        <form name="contatoForm">

            <input type="text" class="form-control" ng-model="contato.Nome" ng-minlength="5" name="nome" ng-required="true" placeholder="Nome" />
            <input type="text" class="form-control" ng-model="contato.Telefone" ng-pattern="/^\d{4,5}-\d{4}$/" name="telefone" ng-required="true" placeholder="Telefone" />

            <select class="form-control" ng-model="contato.Operadora" ng-options="operadora.Nome + ' ( ' + (operadora.Preco | currency) + ' ) ' group by operadora.Categoria for operadora in operadoras | orderBy: 'nome'">
                <option value="">Selecione uma operadora</option>
            </select>

            <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error" class="alert alert-danger">
                <div ng-message="required">Por favor, preencha o campo nome</div>
                <div ng-message="minlength">O campo nome deve ter no minimo 5 caracteres</div>
            </div>
            <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">Por favor, preencha o campo telefona</div>
            <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">O campo telefone deve ter o formato 99999-9999</div>

            <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato);" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
            <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos);" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
        </form>
    </div>

    <!--<div ng-include="'footer.html'"></div>-->
</body>
</html>
